<div>
    <img src="http://2.bp.blogspot.com/-Fvg0k2HXGFY/UM357vSMjMI/AAAAAAAADlw/RpVm6bLhjHs/s1600/bokeh-moda-nikon-photography-pretty-Favim.com-41720.jpg"/>
</div>
<div>
    <span>   
        <a href="/Home/Main" id="enter-link">Enter</a>
        <a href="http://www.google.com" id="exit-link">Exit</a>
    </span> 
</div>



